*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'segoe ui light';
    font-family: Alegreya;
}
.section1
{
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1 img
{
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center center;
}
.section1 .text
{
    text-align: center;
    position: absolute;
    font-size: 22px;
    line-height: 1.38em;
}
.section1 .text h3
{
    font-size: 30px;
    margin: 25px 0;
}
.section1 .text p
{
    color: white;
}
.contanerproduct {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px 10px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 40px;
}

.contanerproduct .smallimges {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}

.contanerproduct .smallimges img {
    height: 120px;
    object-fit: cover;
    width: 80px;
    border-radius: 15px;
    cursor: pointer;
}

.contanerproduct .bigImage {
    max-height: 450px;
    max-width: 400px;
    border-radius: 15px;
    margin: 0 30px;
}

.contanerproduct .caption {
    font-size: 30px;
    max-width: 400px;
    width: auto;
    font-family: "Alegreya Sans";
}

.contanerproduct .caption h3 {
    font-family: "Alegreya";
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}

@media screen and (max-width: 800px) {
    .image {
        margin-right: 0;
    }

    .contanerproduct .bigImage {
        max-height: 250px;
        max-width: 80%;
        margin: 20px 0;
    }

    .contanerproduct .smallimges {
        flex-direction: row;
        margin: 10px 0;
        justify-content: center;
        gap: 10px;
    }

    .contanerproduct .smallimges img {
        height: 70px;
        width: 50px;
    }

    .contanerproduct .caption {
        text-align: center;
        font-size: 24px;
    }

    .contanerproduct .caption h3 {
        font-size: 30px;
    }
}
